.summary{
    text-align: center;
}

.skills_projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.skills{
    width: 100%;
    align-items: center;
    text-align: center;
}

.projects{
    width: 100%;
    align-items: center;
    text-align: center;
}

.project_cards{
    display: inline;
    align-items: center;
    width: 100%;
}

.project_card{
    width: 100%;
    margin: auto;
}

.topIMG{
    display: block;
    align-items: center;
}
.main_img{
    margin: auto;
    margin-top: 50px;
    display: block;
    /* this will change below depends on the picture */
    width: fit-content;
    text-align: center;
}

.connection_img{
    width: 60px;
    height: 60px;
    margin: 0px 20px 0px 20px;
    display: inline-block;
    cursor: pointer;
}

.connections{
    align-items: center;
    margin: 20px auto 20px auto;
    width: fit-content;
}

.header_padding{
    text-align: center;
    vertical-align: text-bottom;
    font-size: 50px;
    color: var(--space-cadet);
    padding: 50px 0px 0px 0px;
}

.skill_list{
    display: grid;
}

.skill_card{
    background-color: var(--burnt-sienna);
    color: black;
    margin: 0px 5px 5px 5px;
    padding: 5px 0px 5px 0px;
}

@media screen and (max-width: 600px) {
    .skills_projects{
        display: inline;
    }
}

@media screen and (max-width: 1020px) {
    .main_img{
        width: 70%;
    }
    
}