.title{
    padding-top: 10px;
    text-align: center;
    font-size: 26px;
}

.discription{
    margin-top: 10px;
}

.learned{
    margin-top: 10px;
}

.imgsize{
    background-color:var(--burnt-sienna);
    width: 145px;
    height: 145px;
    border-radius: 50%;
    padding: 2.5px;
    position: relative;
    cursor: pointer;
}

.myimgs{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    text-align: center;
    margin: 0px 0px 20px 0px;
}

.centered_img{
    width: 100%;
    text-align: center;
}

.imgdes{
    text-align: center;
    font-size: small;
}

.contentincard{
    width:min-content;
    padding: 0px 10px 0px 10px;
    float:left;
    margin: 0px auto 10px auto;
}

.text_block{
    margin: 0px 10px 0px 10px;
}

@media screen and (max-width: 1020px){
    .myimgs{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 500px){
    .myimgs{
        grid-template-columns: repeat(1, 1fr);
    }
}